{% extends "layout.html" %}
{% block title %}Vote FOR LOK SHABHA ELECTION{% endblock %}
{% block content %}
    <form method="post">
        <center><img src="C:\Users\91900\Desktop\narendra.jpg"alt="Narendra Modi" width="300" height="300"/><br>
        <input type="radio" name="candidate" value="BJP" required> BJP<br>
        <img src="C:\Users\91900\Desktop\rahul.png"alt="Rahul Gandhi" width="300" height="300"/><br>
        <input type="radio" name="candidate" value="CONGRESS"> CONGRESS<br>
        
        <button type="submit">Submit Vote</button>
    </form>
    <p><a href="{{ url_for('results') }}">View Results</a></p>
    <p><a href="{{ url_for('logout') }}">Logout</a></p></center>
    <style>
         body {
        background: linear-gradient(45deg, #b57bee, #00e3fd);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .as-full {
        width: 100%;
        height: 100%;
    }
    .form-control {
        padding-left: 30px;
        padding-right: 30px;
    }

    </style>
{% endblock %}